@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --font-sans : 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}