---
import LayoutBase from '../layouts/LayoutBase.astro';
---

<LayoutBase title="Contact">
    <h1 class="text-3xl font-bold mb-6 text-gray-900 dark:text-white">Contact Me</h1>
    <p class="text-lg text-gray-700 dark:text-gray-400 mb-4">
        If you have any questions, suggestions, or just want to connect, feel free to reach out to me! You can contact me through the following channels:
    </p>
    <ul class="list-disc list-inside text-gray-600 dark:text-gray-400 mb-4">
        <li>Email: <a href="mailto:rita.moreira.1414@gmail.com" class="text-blue-600 hover:underline">rita.moreira.1414@gmail.com</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/rita-cc-moreira /" class="text-blue-600 hover:underline">https://www.linkedin.com/in/rita-cc-moreira/</a></li>
        <li>GitHub: <a href="https://github.com/ritamaria05" class="text-blue-600 hover:underline">https://github.com/ritamaria05</a></li>
    </ul>
    <p class="text-lg text-gray-700 dark:text-gray-400">
        I'm always open to feedback, collaboration opportunities, or just a friendly chat about computer science.
    </p>
</LayoutBase>
        